@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

#contacts {
  padding-top: 150px;
}

@media (max-width: 870px) {
  #contacts {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  #contacts {
    padding-top: 50px;
  }
}

#contacts .contacts-text {
  margin-bottom: 50px;
}

@media (max-width: 870px) {
  #contacts .contacts-text {
    margin-bottom: 40px;
  }
}

@media (max-width: 425px) {
  #contacts .contacts-text {
    margin-bottom: 30px;
  }
}

#contacts .contacts-text h1 {
  color: #487EE6;
  font-family: Avenir-Bold;
  font-size: 5vh;
}

@media (max-width: 870px) {
  #contacts .contacts-text h1 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  #contacts .contacts-text h1 {
    font-size: 24px;
  }
}

#contacts .contact-wrapper {
  width: 100%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

#contacts .contact-wrapper .contact-left {
  width: 45%;
}

#contacts .contact-wrapper .contact-left .contact-left-img-wrapper {
  width: 100%;
}

#contacts .contact-wrapper .contact-left .contact-left-img-wrapper img {
  width: 70%;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-left {
    display: none;
  }
}

#contacts .contact-wrapper .contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  font-size: 1.1rem;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#contacts .contact-wrapper .contact-right .f-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .f-1 {
    width: 100%;
  }
}

#contacts .contact-wrapper .contact-right .f-1 .address {
  padding-bottom: 5rem;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .f-1 .address {
    padding-bottom: 3rem;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .f-1 .address {
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}

#contacts .contact-wrapper .contact-right .f-1 .mail {
  min-height: 60px;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .f-1 .mail {
    margin-bottom: 30px;
  }
}

#contacts .contact-wrapper .contact-right .f-2 {
  width: 50%;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .f-2 {
    padding-bottom: 2rem;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .f-2 {
    padding-left: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}

#contacts .contact-wrapper .contact-right img {
  padding-bottom: 20px;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right img {
    width: auto;
    height: 50px;
    padding-bottom: 15px;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right img {
    width: auto;
    height: 40px;
    padding-bottom: 10px;
  }
}

#contacts .contact-wrapper .contact-right p {
  padding-bottom: 10px;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right p {
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .phone, #contacts .contact-wrapper .contact-right .skype {
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .phone, #contacts .contact-wrapper .contact-right .skype {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=contacts.css.map */