@import './init.scss';


// Landing Header
.landing{
    height: 100vh;
    min-height: 700px;
    position: relative;
    @include tablet{
        height: 80vh;
    }
    @include mobile{
        height: 70vh;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50vh;
        height: 50vh;
        @include tablet{
            display: block;
            padding-top: 20vh;
        }
        .left{
            width: 55%;
            @include tablet{
                width: 100%;
            }
            
            h1{
                font-size: 8vh;
                font-family: Avenir-Bold;
                color: $fontFirst;
                margin-bottom: 50px;
               @include tablet{
                   font-size: 40px;
               }
               @include mobile{
                   font-size: 30px;
               }
            }
            p{
                font-size: 24px;
                color: $fontSecond;
                @include tablet{
                    font-size: 20px;
                }
                @include mobile{
                    font-size: 1rem;
                }
            }
        }
        .right{
            width: 45%;
            height: 70vh;
            @include tablet{
                margin-top: 3rem;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                @include mobile{
                    margin-top: 2.5rem;
                }
            }
            .picture-handler{
                height: 100%;
                @include tablet{
                    width: 70%;
                    height: auto;

                }
                img{
                    height: 100%;
                    @include tablet{
                        width: 100%;
                        height: auto;
                    }
                }
                
            }
        }   
    }
    .down{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 50px;
        height: 30px;
        @include tablet{
            bottom: -70px;
        }
        @include mobile{
            bottom: 25px;
        }

        img{
            animation: mover 1.5s infinite alternate;
            
        }
    } 
}