@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem 0;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav {
  width: 95%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

header nav a.logo-handler {
  height: 70px;
}

@media (max-width: 870px) {
  header nav a.logo-handler {
    height: 50px;
  }
}

@media (max-width: 680px) {
  header nav a.logo-handler {
    height: 40px;
  }
}

header nav a.logo-handler img {
  height: 100%;
}

header nav .mobile-hamburger-wrapper {
  display: none;
  cursor: pointer;
}

@media (max-width: 680px) {
  header nav .mobile-hamburger-wrapper {
    display: block;
  }
}

header nav .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 680px) {
  header nav .info {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    top: 72px;
    background-color: white;
  }
}

header nav .info li {
  list-style: none;
  margin-left: 60px;
  font-size: 18px;
}

@media (max-width: 680px) {
  header nav .info li {
    display: block;
    padding: 2rem 0;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 870px) {
  header nav .info li {
    font-size: 15px;
  }
}

header nav .info li a {
  text-decoration: none;
  color: #9FA0A4;
}

header nav .info .lang-dropdown {
  position: relative;
  cursor: pointer;
}

header nav .info .lang-dropdown .chosen-lang {
  font-weight: 900;
  padding: 5px;
}

header nav .info .lang-dropdown .chosen-lang::-moz-selection {
  background: none;
}

header nav .info .lang-dropdown .chosen-lang::selection {
  background: none;
}

header nav .info .lang-dropdown .modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -10px;
  top: 30px;
  width: 60px;
  background-color: white;
  -webkit-box-shadow: 0 10px 10px rgba(66, 66, 66, 0.157);
          box-shadow: 0 10px 10px rgba(66, 66, 66, 0.157);
  padding: 0.5rem 0;
}

header nav .info .lang-dropdown .modal::-moz-selection {
  background: none;
}

header nav .info .lang-dropdown .modal::selection {
  background: none;
}

header nav .info .lang-dropdown .modal a {
  padding: 1rem;
  color: #313640;
  width: 100%;
}

header nav .info .lang-dropdown .modal a:hover {
  color: #487EE6;
}

header nav .info .lang-dropdown .modal a::-moz-selection {
  background: none;
}

header nav .info .lang-dropdown .modal a::selection {
  background: none;
}

@media (max-width: 680px) {
  header nav .info .lang-dropdown .modal {
    position: absolute;
    left: 250px;
  }
}

header nav .info .lang-dropdown .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .info-active {
  right: 0;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

.landing {
  height: 100vh;
  min-height: 700px;
  position: relative;
}

@media (max-width: 870px) {
  .landing {
    height: 80vh;
  }
}

@media (max-width: 425px) {
  .landing {
    height: 70vh;
  }
}

.landing .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50vh;
  height: 50vh;
}

@media (max-width: 870px) {
  .landing .header {
    display: block;
    padding-top: 20vh;
  }
}

.landing .header .left {
  width: 55%;
}

@media (max-width: 870px) {
  .landing .header .left {
    width: 100%;
  }
}

.landing .header .left h1 {
  font-size: 8vh;
  font-family: Avenir-Bold;
  color: #313640;
  margin-bottom: 50px;
}

@media (max-width: 870px) {
  .landing .header .left h1 {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .landing .header .left h1 {
    font-size: 30px;
  }
}

.landing .header .left p {
  font-size: 24px;
  color: #9FA0A4;
}

@media (max-width: 870px) {
  .landing .header .left p {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .landing .header .left p {
    font-size: 1rem;
  }
}

.landing .header .right {
  width: 45%;
  height: 70vh;
}

@media (max-width: 870px) {
  .landing .header .right {
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 870px) and (max-width: 425px) {
  .landing .header .right {
    margin-top: 2.5rem;
  }
}

.landing .header .right .picture-handler {
  height: 100%;
}

@media (max-width: 870px) {
  .landing .header .right .picture-handler {
    width: 70%;
    height: auto;
  }
}

.landing .header .right .picture-handler img {
  height: 100%;
}

@media (max-width: 870px) {
  .landing .header .right .picture-handler img {
    width: 100%;
    height: auto;
  }
}

.landing .down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 50px;
  height: 30px;
}

@media (max-width: 870px) {
  .landing .down {
    bottom: -70px;
  }
}

@media (max-width: 425px) {
  .landing .down {
    bottom: 30px;
  }
}

.landing .down img {
  -webkit-animation: mover 1.5s infinite alternate;
          animation: mover 1.5s infinite alternate;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

@media (max-width: 870px) {
  .circles {
    display: none;
  }
}

.circles .circle {
  border-radius: 50%;
  background-color: #487EE6;
  opacity: 0.25;
  position: absolute;
  z-index: -1;
}

.circles .one {
  width: 32vh;
  height: 32vh;
  top: 60vh;
  left: 100px;
}

.circles .two {
  width: 25vh;
  height: 25vh;
  top: 40vh;
  left: -90px;
}

.circles .three, .circles .four {
  width: 15vh;
  height: 15vh;
}

.circles .three {
  top: 25vh;
  left: 120px;
}

.circles .four {
  top: 15vh;
  left: -74px;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

#about {
  padding-top: 150px;
}

@media (max-width: 870px) {
  #about {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  #about {
    padding-top: 70px;
  }
}

#about .about-text-handler {
  padding-bottom: 50px;
}

#about .about-text-handler .about-header {
  color: #487EE6;
  font-family: Avenir-bold;
  font-size: 4.6vh;
  padding-bottom: 30px;
}

@media (max-width: 870px) {
  #about .about-text-handler .about-header {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  #about .about-text-handler .about-header {
    font-size: 24px;
  }
}

#about .about-text-handler p {
  color: #9FA0A4;
  font-size: 24px;
}

@media (max-width: 870px) {
  #about .about-text-handler p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 425px) {
  #about .about-text-handler p {
    font-size: 15px;
  }
}

#about .about-img-wrapper {
  width: 100%;
}

#about .about-img-wrapper .img {
  width: 100%;
}

#about .about-img-wrapper .img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

#countries {
  padding-top: 150px;
}

@media (max-width: 870px) {
  #countries {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  #countries {
    padding-top: 70px;
  }
}

#countries .countries-text {
  margin-bottom: 40px;
}

#countries .countries-text h1 {
  color: #487EE6;
  font-family: Avenir-Bold;
  font-size: 4.6vh;
}

@media (max-width: 870px) {
  #countries .countries-text h1 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  #countries .countries-text h1 {
    font-size: 24px;
  }
}

#countries .countries-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  #countries .countries-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 425px) {
  #countries .countries-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#countries .countries-wrapper .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 870px) {
  #countries .countries-wrapper .country {
    padding-bottom: 20px;
  }
}

#countries .countries-wrapper .country p {
  color: #313640;
  font-weight: 800;
  font-size: 1.3rem;
}

@media (max-width: 425px) {
  #countries .countries-wrapper .country p {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  #countries .countries-wrapper .country img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 425px) {
  #countries .countries-wrapper .country img {
    width: 60px;
    height: 60px;
  }
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

#services {
  padding-top: 150px;
}

@media (max-width: 870px) {
  #services {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  #services {
    padding-top: 70px;
  }
}

#services .services-text {
  margin-bottom: 40px;
}

#services .services-text h1 {
  color: #487EE6;
  font-family: Avenir-Bold;
  font-size: 4.6vh;
}

@media (max-width: 870px) {
  #services .services-text h1 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  #services .services-text h1 {
    font-size: 24px;
  }
}

#services .service-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 870px) {
  #services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#services .service-wrapper .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 245px;
  margin-bottom: 30px;
}

@media (max-width: 870px) {
  #services .service-wrapper .service {
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service {
    width: 100%;
  }
}

#services .service-wrapper .service .service-title {
  font-size: 1.3rem;
  font-weight: bold;
  min-height: 60px;
  margin-bottom: 20px;
}

@media (max-width: 870px) {
  #services .service-wrapper .service .service-title {
    font-size: 20px;
    min-height: 40px;
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service .service-title {
    font-size: 18px;
    min-height: 20px;
  }
}

#services .service-wrapper .service .img-wrapper {
  padding: 1rem 0;
  margin-bottom: 20px;
}

@media (max-width: 870px) {
  #services .service-wrapper .service .img-wrapper {
    margin: 0;
  }
}

#services .service-wrapper .service p {
  min-height: 60px;
  color: #9FA0A4;
  font-size: 1.2rem;
}

@media (max-width: 870px) {
  #services .service-wrapper .service p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service p {
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  #services .service-wrapper .service img {
    width: auto;
    height: 70px;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service img {
    width: auto;
    height: 50px;
  }
}

#services .service-wrapper .l-service {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 870px) {
  #services .service-wrapper .l-service {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media (max-width: 870px) {
  #services .service-wrapper .l-service {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

#contacts {
  padding-top: 150px;
}

@media (max-width: 870px) {
  #contacts {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  #contacts {
    padding-top: 70px;
  }
}

#contacts .contacts-text {
  margin-bottom: 50px;
}

@media (max-width: 870px) {
  #contacts .contacts-text {
    margin-bottom: 40px;
  }
}

@media (max-width: 425px) {
  #contacts .contacts-text {
    margin-bottom: 30px;
  }
}

#contacts .contacts-text h1 {
  color: #487EE6;
  font-family: Avenir-Bold;
  font-size: 4.6vh;
}

@media (max-width: 870px) {
  #contacts .contacts-text h1 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  #contacts .contacts-text h1 {
    font-size: 24px;
  }
}

#contacts .contact-wrapper {
  width: 100%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

#contacts .contact-wrapper .contact-left {
  width: 45%;
}

#contacts .contact-wrapper .contact-left .contact-left-img-wrapper {
  width: 100%;
}

#contacts .contact-wrapper .contact-left .contact-left-img-wrapper img {
  width: 70%;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-left {
    display: none;
  }
}

#contacts .contact-wrapper .contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  font-size: 1.1rem;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#contacts .contact-wrapper .contact-right .f-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .f-1 {
    width: 100%;
  }
}

#contacts .contact-wrapper .contact-right .f-1 .address {
  padding-bottom: 5rem;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .f-1 .address {
    padding-bottom: 3rem;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .f-1 .address {
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}

#contacts .contact-wrapper .contact-right .f-1 .mail {
  min-height: 60px;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .f-1 .mail {
    margin-bottom: 30px;
  }
}

#contacts .contact-wrapper .contact-right .f-2 {
  width: 50%;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .f-2 {
    padding-bottom: 2rem;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .f-2 {
    padding-left: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}

#contacts .contact-wrapper .contact-right img {
  padding-bottom: 20px;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right img {
    width: auto;
    height: 50px;
    padding-bottom: 15px;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right img {
    width: auto;
    height: 40px;
    padding-bottom: 10px;
  }
}

#contacts .contact-wrapper .contact-right p {
  padding-bottom: 10px;
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right p {
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  #contacts .contact-wrapper .contact-right .phone, #contacts .contact-wrapper .contact-right .skype {
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  #contacts .contact-wrapper .contact-right .phone, #contacts .contact-wrapper .contact-right .skype {
    margin-bottom: 20px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0 40px;
}

@media (max-width: 870px) {
  footer {
    margin: 80px 0 30px;
  }
}

@media (max-width: 425px) {
  footer {
    margin: 30px 0 30px;
  }
}

footer .geekspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .geekspace .footer-title {
  font-weight: 900;
  margin-right: 20px;
  font-size: 1rem;
}

@media (max-width: 425px) {
  footer .geekspace .footer-title {
    font-size: 12px;
    margin-right: 10px;
  }
}

@media (max-width: 870px) {
  footer .geekspace img {
    width: 60px;
    height: auto;
  }
}

@media (max-width: 425px) {
  footer .geekspace img {
    width: 50px;
    height: auto;
  }
}

.loading-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1200;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Avenir;
  color: #313640;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
/*# sourceMappingURL=main.css.map */