@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/avenirnextcyr-regular.ttf");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("../fonts/Avenir/avenirnextcyr-bold.ttf");
}

#services {
  padding-top: 150px;
}

@media (max-width: 870px) {
  #services {
    padding-top: 100px;
  }
}

@media (max-width: 425px) {
  #services {
    padding-top: 70px;
  }
}

#services .services-text {
  margin-bottom: 40px;
}

#services .services-text h1 {
  color: #487EE6;
  font-family: Avenir-Bold;
  font-size: 4.6vh;
}

@media (max-width: 870px) {
  #services .services-text h1 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  #services .services-text h1 {
    font-size: 24px;
  }
}

#services .service-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 870px) {
  #services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#services .service-wrapper .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 245px;
  margin-bottom: 30px;
}

@media (max-width: 870px) {
  #services .service-wrapper .service {
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service {
    width: 100%;
  }
}

#services .service-wrapper .service .service-title {
  font-size: 1.3rem;
  font-weight: bold;
  min-height: 60px;
  margin-bottom: 20px;
}

@media (max-width: 870px) {
  #services .service-wrapper .service .service-title {
    font-size: 20px;
    min-height: 40px;
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service .service-title {
    font-size: 18px;
    min-height: 20px;
  }
}

#services .service-wrapper .service .img-wrapper {
  padding: 1rem 0;
  margin-bottom: 20px;
}

@media (max-width: 870px) {
  #services .service-wrapper .service .img-wrapper {
    margin: 0;
  }
}

#services .service-wrapper .service p {
  min-height: 60px;
  color: #9FA0A4;
  font-size: 1.2rem;
}

@media (max-width: 870px) {
  #services .service-wrapper .service p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service p {
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  #services .service-wrapper .service img {
    width: auto;
    height: 70px;
  }
}

@media (max-width: 425px) {
  #services .service-wrapper .service img {
    width: auto;
    height: 50px;
  }
}

#services .service-wrapper .l-service {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 870px) {
  #services .service-wrapper .l-service {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media (max-width: 870px) {
  #services .service-wrapper .l-service {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=services.css.map */